@use "./utils" as u; 

.chat__body {
    padding: 0 u.rem(10) u.rem(5) 0;
    height: calc(100vh - u.rem(70) - u.rem(40) - u.rem(25));
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
}
.chat__body__loader {
    width: 100%; 
    height: calc(100vh - 4.7rem); 
    display: flex; 
    justify-content: center;
    align-items: center;
    background: #f8f9fa;
    position: absolute;
    top: 4.6rem; 
    left: 0; 
}