@use "./utils" as u; 

.chat__item {
    display: flex;

    a {
        color: #fff;
    }

    &__image__wrapper {
        width: calc(20vw - 40px); 
        height: 200px;
        overflow: hidden;

        img {
            width: inherit;
            height: inherit;
            border-radius: u.rem(20);
        }
    }

    .msg__file__icon {
        display: inline-block;
        background-color: #fff;
        border-radius: 50%;
        text-align: center;
        padding: 1px 1.5px;
        margin: 6px 3px 6px 0;
    }

    svg {
        font-size: 1.3rem;
        margin-top: -2px;
        margin-left: 2px;
        color: #0275d8;
    }
}

.chat__item__content {
    color: #fff;
    width: fit-content;
    margin-top: u.rem(3); 
    padding: u.rem(5) u.rem(10);
    border-radius: u.rem(30);
    background: #c1bebe;
    align-self: flex-start;
    
    &.isSender {
        margin-left: auto;
        background: linear-gradient(270deg, rgba(255, 105, 104, 1) 0%, rgba(163, 52, 250, 1) 33%, rgba(6, 149, 255, 1) 100%);
        align-self: flex-end;
    }
}