@use "./utils" as u;
.side__nav {
  width: 100%;
  padding: 0 1rem;
  height: 100vh;
  position: relative;

  &__loggedin__user {
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 95%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e5e6e7;
    border-radius: 7px;
    padding-right: 5px;

    .side__nav__logout__icon {
      display: inline-block;
      width: fit-content;
      height: inherit;
      padding: 10px;
      border-radius: 50%;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: #f8f4f4;

        svg {
          color: #0275d8;
        }
      }

      svg {
        font-size: 1.7rem;
        font-weight: bolder;
        transition: all 0.3s ease-in-out;
      }
    }
  }

  &__users {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    height: calc(100vh - u.rem(58) - u.rem(55) - u.rem(56));
    overflow-y: scroll;
  }

  &__searchedUsers {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    height: calc(100vh - u.rem(58) - u.rem(55) - u.rem(24));
    overflow-y: scroll;
    position: absolute;
    width: 100%;
  }

  &__header {
    display: flex;
    height: u.rem(50);
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0;

    &__button__wrapper {
      flex: 1;
    }

    h3 {
      flex: 2;
      margin-bottom: 0;
    }
  }

  &__search {
    height: u.rem(55);
    position: relative;

    form svg {
      font-size: u.rem(22);
      position: absolute;
      top: 50%;
      left: 0.3rem;
      transform: translateY(-50%);
    }
  }
}
